{% extends 'municipios.html' %}

{% block title %} Contacto {% endblock %}
{% block body %}
<div class="float-right col-sm-8">
    <div class="container">
        <h1>Contacto</h1>
        <div class="form-group">
        <label for=""></label>
        <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
        <small id="emailHelpId" class="form-text text-muted">Coloque aquí su email</small>
        <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
        <small id="emailHelpId" class="form-text text-muted">Coloque aquí su duda</small>
        </div>
        <a name="" id="" class="btn btn-primary" href="#" role="button">Enviar</a>
    </div>
</div>
{% endblock %} 