{% extends 'contacto.html' %}

{% block title %} Contacto {% endblock %}
{% block body %}
<div class="float-right col-sm-8">
    <div class="container">
        <h1>Sobre nosotros</h1>
        <h5>Somos un apasionado grupo de estudiantes de programación en constante búsqueda de conocimiento y desafiándonos a nosotros mismos para crear soluciones innovadoras y hacer realidad nuestras ideas tecnológicas.</h5>
        <img src="{{ url_for('static', filename='images/Untitled.jpeg') }}" alt="Programadores">
    </div>
</div>
{% endblock %} 